nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") ALEX
  ul.nav.nav-tabs.ml-auto
    li.nav-item
      a.nav-link(href="/game-dashboard")
        i.fa.fa-home.mr-2
        Game Home
    li.nav-itemgame-board
      a.nav-link(href="game-scores")
        i.fa.fa-trophy.mr-2
        Game Scores
    li.nav-item
      a.nav-link(href="game-logs")
        i.fa.fa-file-alt.mr-2
        Game Logs
    li.nav-item
      a.nav-link(href="notifications")
        i.fa.fa-bell.mr-2
        Game Notifications 
    li.nav-item
      a.nav-link(href="profile")
        i.fa.fa-user.mr-2
        Game Profile
